


<header
  class="header-container
  navbar navbar-expand bg-twitter-theme flex-column flex-md-row bd-navbar"
  style="background: white !important;"
>
  <a class="navbar-brand ml-5" href="#">Fastit!</a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex"
      (keydown)="keypressed($event)">
    <!--TODO: can typeahead be saperated in saperate component?-->
    <!--TODO: can it be more simplified-->
    <li class="nav-item search-result-pivot nav-link p-2" #search >
        <input type="search" id="searchT" [ngModel]="keyword" (ngModelChange)='performSearch($event)'>
      <!--typeahead begin-->
        <div class="row search-result-container " *ngIf="keyword && !hideTypeahead" >

          <div class="col-6 p-0" style="height: 300px">
            <ul class="search-result " style="height: 100%"
                *ngIf="($searchResults|async).length>0"
                [ngClass]="{'bg-white':($searchResults|async).length>0}">
              <li class="search-result-item"
                  *ngFor="let result of ($searchResults|async) | slice:0:10; let i=index"
                  [ngClass]="{'bg-twitter-background':i===highlightedTypeaheadCount}"
              >
                {{result.display_name_prefixed}}
              </li>
            </ul>
          </div>

          <div class="col-6 p-0 bg-white" style="height: 300px">
            <ul class="search-result">
              <li class="search-result-item" >
                Post with :<b>{{" " + keyword}}</b>
              </li>
              <li class="search-result-item">
                user with :<b>{{" " + keyword}}</b>
              </li>
              <li class="search-result-item">
                subreddit with :<b>{{" " + keyword}}</b>
              </li>
            </ul>
          </div>

        </div>
      <!--typeahead ends-->

    </li>
    <li class="nav-item">
      <a class="nav-link p-2">
        <i class="fa fa-search text-twitter-theme"></i>
      </a>

    </li>
    <li class="nav-item">
      <a class="nav-link p-2 pr-5" routerLink="login" routerLinkActive="active">  Login  </a>
    </li>
  </ul>

</header>


<div style="margin-bottom: 100px"></div>

