


<header
  class="header-container
  navbar navbar-expand bg-twitter-theme flex-column flex-md-row bd-navbar"
  style="background: white !important;"
>
  <a class="navbar-brand ml-5" href="#">Fastit!</a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item search-result-container">
      <a class="nav-link p-2">
        <input type="search" id="searchT" [ngModel]="keyword" (ngModelChange) = performSearch($event)>
        <ul class="search-result " style="width: 100%;">
          <li class="search-result-item"
              *ngFor="let result of ($searchResults|async) | slice:0:10; let i=index">
            {{result.display_name_prefixed}}
          </li>
        </ul>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-2">
        <i class="fa fa-search text-twitter-theme"></i>
      </a>

    </li>
    <li class="nav-item">
      <a class="nav-link p-2 pr-5" routerLink="login" routerLinkActive="active">  Login  </a>
    </li>
  </ul>

</header>


<div style="margin-bottom: 100px"></div>

