
<footer class="text-white text-center " style="background-color: rgb(46,62,66)">


  <div class="container py-4">
    <div >
      <h4 class="display-`=1">Copyright &copy;Cartisan 2017</h4>
    </div>
    <div class="row">
      <div class="col " >
        <div>About</div>
        <div style="cursor: pointer" >Contact Us</div>
        <div>
          <a  style="color: white">Customer feedback</a>
        </div>
        <div>
          <a href="#" style="color: white">Get 50% off coupons</a>
        </div>
      </div>
    </div>
  </div>
</footer>
