
<div class="container mb-4" style="border: 1px solid rgba(97,103,176,0.83)">

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4"><app-plan-cards></app-plan-cards></div>
  </div>
</div>

<router-outlet></router-outlet>
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-12 d-flex justify-content-center align-items-center">-->
      <!--<div class="box control-sub "-->
           <!--[ngClass]="{'control-sub-animation-left':showSubControls_left, 'control-sub-animation-left-hide':!showSubControls_left}"-->
            <!--routerLink='config/t0'-->
      <!--&gt;T0</div>-->
      <!--<div class="box control-sub"-->
           <!--[ngClass]="{'control-sub-animation-left':showSubControls_left, 'control-sub-animation-left-hide':!showSubControls_left}"-->
           <!--routerLink='config/t0'-->
      <!--&gt;T1</div>-->
      <!--<div class="box control-main shadow-theme shadow-click-theme" (click)="showSubControls_left = !showSubControls_left">Config</div>-->
      <!--<div class="box control-main shadow-theme shadow-click-theme" (click)="showSubControls_right = !showSubControls_right"><div>Data</div></div>-->
      <!--<div class="box control-sub"-->
           <!--[ngClass]="{'control-sub-animation-right':showSubControls_right, 'control-sub-animation-right-hide':!showSubControls_right}"-->
           <!--routerLink='data/t0'-->
      <!--&gt;<div>T0</div></div>-->
      <!--<div class="box control-sub"-->
           <!--[ngClass]="{'control-sub-animation-right':showSubControls_right, 'control-sub-animation-right-hide':!showSubControls_right}"-->
           <!--routerLink='data/t0'-->
      <!--&gt;<div>T1</div></div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<app-plan-details></app-plan-details>-->
