<!--TODO: removing this border leave a margin from border. fix it-->
<div class="container mb-4" style="border: 1px solid rgba(97,103,176,0.83)">

  <div class="row">
    <div class="col-4"><app-plan-cards [doesDataExists]="false"></app-plan-cards></div>
    <div class="col-4"><app-plan-cards></app-plan-cards></div>
    <div class="col-4"><app-plan-cards></app-plan-cards></div>
    <div class="col-4"><app-plan-cards></app-plan-cards></div>
    <div class="col-4"><app-plan-cards></app-plan-cards></div>
    <div class="col-4"><app-plan-cards></app-plan-cards></div>
    <div class="col-4"><app-plan-cards></app-plan-cards></div>
    <div class="col-4"><app-plan-cards></app-plan-cards></div>
  </div>
</div>
