<hr class="p-0">
<div class="container comment">
  <div class="row bg-white comment__header d-flex align-items-center">
    <div class="col-12 d-flex justify-content-start">
      <div class="comment__header-user-name separator font-weight-bold text-twitter-theme">sandeep</div>
      <div class="comment__header-vote-count mr-2 separator text-muted">589</div>
      <div class="comment__header-date text-muted">14h</div>
    </div>
  </div>

  <div class="row py-2  comment__body ">
    <div class="col-12">
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias architecto autem id illo libero
        nobis non omnis quo ut? Accusantium, ad assumenda dolorem ducimus earum impedit ipsum necessitatibus tempora!
      </div>
    </div>
  </div>
  <div class="row comment__controls">
    <div class="col-12 pb-2 d-flex justify-content-end">

      <div class="mr-3 control-up  d-inline-block">
        <i class="text-muted fa fa-arrow-circle-up"></i>
        <span class="comment__controls-count">24</span>
        <i class="text-muted fa fa-arrow-circle-down"></i>
      </div>

      <div class="mr-4 control-comment d-inline-block">
        <i class="text-muted fa fa-comment-o  "></i>
        <span class="comment__controls-count">24</span>
      </div>

    </div>

  </div>
</div>

