<div class="container comment mb-2">
  <div class="row bg-white comment__header d-flex align-items-center">
    <div class="col-10">
      <div class="comment__header-user-name">sandeep</div>
    </div>
    <div class="col-2 d-flex">
      <div class="comment__header-vote-count mr-2">589</div>
      <div class="comment__header-date">14h</div>
    </div>
  </div>

  <div class="row p-2 comment__body pl-4">
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias architecto autem id illo libero
      nobis non omnis quo ut? Accusantium, ad assumenda dolorem ducimus earum impedit ipsum necessitatibus tempora!
    </div>
  </div>
  <div class="row comment__controls">
    <div class="col-12 pb-2 d-flex justify-content-end">

      <div class="mr-4 control-up  d-inline-block">
        <i class="text-muted fa fa-arrow-circle-up"></i>
      </div>

      <div class="mr-4 control-down d-inline-block">
        <i class="text-muted fa fa-arrow-circle-down"></i>
      </div>

      <div class="mr-4 control-comment d-inline-block">
        <i class="text-muted fa fa-comment-o mr-2 "></i>
        <span class="comment__controls-comment-count">24</span>
      </div>

    </div>

  </div>
</div>

