<div >
  <app-header></app-header>
</div>
<!--<div class="container d-flex justify-content-center border1">-->
  <!--&lt;!&ndash;<app-post></app-post>&ndash;&gt;-->
  <!--&lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;-->
<!--</div>-->

<!--<div class="container d-flex justify-content-center">-->
  <!--<div class="row" style="width: 60%" >-->
    <!--<div class="col-12">-->
      <!--<app-comment-list></app-comment-list>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!---->
<app-reddit-feed></app-reddit-feed>
