
<div class="container new-comment p-0 m-0" style="border-radius: 10px; overflow: hidden">
  <header class="new-comment__header bg-twitter-theme d-flex
  justify-content-center align-items-center "
          style="height: 40px; ">
    <h1 class="display-1 text-white">Compose new Post</h1>
  </header>
  <div class="row mx-auto p-2">

    <div class="col-1 p-0">
      <div class="post-wrapper__userlogo ">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyDw06sXVJ5KPbNAVXiqij6ACgrTPO64t7-7Rrt0QCn1xycwoJRrrIvIk" class="img-fluid rounded-circle"  alt="">
      </div>
    </div>
    <div class="col-11 pt-1 pb-0  post-wrapper__meta-top">
      <div class="">
        <textarea
          name="" style="height: 100px; width: 100%; border-radius: 10px"
        ></textarea>
      </div>
      <div class="d-flex justify-content-end py-2" >
        <i style="color: #1da1f2; font-size: 22px" class="mr-5 fa fa-image"></i>
        <i style="color: #1da1f2; font-size: 22px" class="mr-5 fa fa-link"></i>
        <i style="color: #1da1f2; font-size: 22px" class="mr-5 fa fa-file-text"></i>
        <i style="color: #1da1f2; font-size: 22px" class="mr-4 fa fa-paper-plane"></i>

      </div>
    </div>


  </div>
</div>
